In [1]:
import pandas as pd
import numpy as np 
from pandas import Series,DataFrame

## 5.3.1 字符串方法

In [2]:
data = {
    'data':['张三|男','李四|女','王五|女','小明|男'],
}
df = DataFrame(data)
df

   data
0  张三|男
1  李四|女
2  王五|女
3  小明|男

In [3]:
result = df['data'].apply(lambda x :Series(x.split('|')))
result

    0  1
0  张三  男
1  李四  女
2  王五  女
3  小明  男

### pandas中字段的str属性可以轻松调用字符串的方法，并运用到整个字段中（矢量化运算）

In [4]:
new_df = df['data'].str.split('|')
new_df

0    [张三, 男]
1    [李四, 女]
2    [王五, 女]
3    [小明, 男]
Name: data, dtype: object

In [5]:
df['nmae'] = new_df.str[0]
df['sex'] = new_df.str[1]
df

   data nmae sex
0  张三|男   张三   男
1  李四|女   李四   女
2  王五|女   王五   女
3  小明|男   小明   男

## 5.3.2 正则表达式

In [6]:
df2 = DataFrame({
    'email':['10235@qq.com','342167@qq.com','65132@qq.com']
})
df2

           email
0   10235@qq.com
1  342167@qq.com
2   65132@qq.com

In [9]:
df2['email'].str.findall('(.*?)@')

0     [10235]
1    [342167]
2     [65132]
Name: email, dtype: object

In [10]:
df2['QQ']=df2['email'].str.findall('(.*?)@').str.get(0)
df2

           email      QQ
0   10235@qq.com   10235
1  342167@qq.com  342167
2   65132@qq.com   65132